.product-filter {
  display: flex;
  background-color: blueviolet;
  color: azure;
  text-align: center;
}
.product-filter h1 {
  flex-grow: 1;
  background-color: blueviolet;
  color: azure;
}
.sort {
  display: flex;
}
.collection-sort {
  display: flex;
  flex-direction: column;
}
.products {
  display: flex;
  flex-wrap: wrap;
}
.product-card {
  flex: 1 16%;
}
.Headermainstyle{
    flex: 1 16%;
   color: cornsilk;
    text-align: left;
    margin-top: 12%;
    margin-left: 12.5%;
}
.product-image img {
  max-width: 100%;
}
.product-info {
  text-align: right;
  color: bisque;
   margin-top: -20%;
  padding-right: 300px;
  padding-bottom: 100px;justify-content: 'center';
}
.backgroundImage {
  background-repeat: no-repeat;
  background-size: 'cover';
  width: '100vh';
  height: '70vh';
  left: 0;
}
@media (min-width: 947) {
  .product-card {
    flex: 1 21%;
    overflow: hidden;
  }
}
.products .product-card:first-child, 
.products .product-card:nth-child(2) {
  flex: 2 46%;
}
.footer{
  margin-top: 1rem;
  padding: 1rem;
  text-align: center;
  background-color:#8a2be2;
  /* position: fixed; */
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30%;
}
.cards{
  padding-top: 80px;
  padding-left: 60px;
  padding-bottom: 50px;
  align-Items:'center',
    }
.cards:hover {
      transform: scale(0.90); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    }
.sectionaftercards{
  background-color:blueviolet;
    }

.globalanimate{
  justify-content: 'center';
        align-Items: 'center';
        /* width: 300;
        height: 400; */
        padding-top: 20px;
        padding-left: 10px;
}
.Headertex{
  color: red;
}
.mobileanimate{
  flex: 1 21%;
  padding-right: 120px ;
  margin-left: 18%;
 flex: wrap;
  margin-bottom: 36%;
  margin-top: 5.5%;
  text-align: right;
  justify-content: 'center';

}